@media screen and (max-width: 678px), screen and (max-device-width: 678px) {
#wrapper{
	max-width:768px;
	min-width:320px;
	padding-bottom:5%;
	margin:0 auto;

	}
#header {
    max-width: 768px;
    min-width: 320px;
	padding-bottom:1%
	
}
#more_descript,#product_notice{
 padding:0 3%;
}
.product_info .product_notice dt{
  width:20%;
}
.product_info .product_notice dd{
  width:78%;
}
#more_descript img{
 width:100%;
 max-width:100%;
 height:auto;
}
#top_left{
 position:relative;
}
#top_left{
font-size:150%;
}
.m_login{
font-size:100%;
}
    #wrap-menu,#wrap-news,#top_right,#footer,#m_nemu{
	 display:none;
	}
	#top_left{width:100%;min-width:320px;}
	.m_sub{
	 display:block;
	 width:10%;
	 max-width:45px;
	 height:40px;
	 background:url(../images/m_sub.jpg) no-repeat;
	 background-size:100% auto;
	 float:left;
	 margin:3% 3%;
    }
	.mbm span{
	 width:30px;
	 height:31px;
	 position:absolute;
	 top:20px;
	 left:90%;
	 border:1px solid #dddddd;
	}
.wrap-logo {
  max-width:109px;
  width:20%;
}
.wrap-logo img{
  width:65%;
  height:auto;
}
	#m_nemu{
	 position:absolute;
	 top:0;
	 left:0;
	 z-index:999;
	 width:100%;
	 height:100%;
	 overflow:auto;
	}
	#m_nemu .mm_txt{
	 width:80%;
	 position:absolute;
	 top:0;
	 left:0;
	 height:800px;
	 z-index:1001;
	}
	#m_nemu .mm_bg{
	 width:80%;
	 background:#ffffff;
	 height:800px;
      filter:alpha(opacity=95);   
      -moz-opacity:0.95;   
      -khtml-opacity: 0.95;   
      opacity: 0.95; 
	}
	#m_nemu .mbm{
		width:94%;
		text-align:left;
		padding-top:20px;		
		}
	#m_nemu h3{
		font-size:3.2em;
		font-weight:normal;
		padding-bottom:20px;
		padding-left:6%;
		border-bottom:1px solid #E8519B;
		}

	#m_footer{
	border-top:1px solid #E8519B;
	width:88%;
	padding-left:6%;
	margin-top:48px;
	padding-top:20px;
	text-align:left;
	font-size:1.5em;
	line-height:40px;
	color:#E8519B;
	font-weight:bold;
	}
#m_footer a{
	color:#E8519B;
	text-decoration:none
	}
   .wrap-mame {
   padding:4% 0 0 2%;
   font-size: 1.6em;
   width:20%;
   }
	#top{
	 height:auto;
	}
	.top-search{
	padding-left:2%;
	padding-right:1%;
	width:95%;
	}
	.search_btn{
	 background:url(../images/m_search_btn.jpg) no-repeat;
	 width:28%;
	 background-size:70% auto;
	 max-width: 173px;
	 height:45px;
	}
	.search-keywords{
	 /*width:67%;*/
	 width:62%;
	 height:45px;
	 font-size: 1.8em;
	}
	.m_login{
	display:block;
     width:35%;
	 position:absolute;
	 right:0;
	 top:0;
	 
	}
.top_login {
	font-size:1.4em;    
    padding-top: 8%;
	width:98%;
}
	.top_login img{
	 max-width:50px;
	 width:20%;
	 height:auto;
	 margin-left:2%;
 
	}
	#banner{
	 padding-top:2%;
	 width:100%;
	}
	#banner_small{
	 float:none;
	 padding-top:1.5%;
	 width:100%;
	 margin:0 auto;
	 clear:both;
	}
	#banner_small ul{
	width:98%;
	display:block;
	clear:both;
	margin:0 auto;
	}
	#banner_small ul li {
		width: 50%;
		margin-bottom: 1.5%;
		float:left;
		text-align:center;
	}
	#banner_small ul li img{
	 width:98%;
	 height:auto;
	}
	.big_list,.smail_list{
	width:98%;
	margin: 0 auto;
	}
	.big_list ul li,.smail_list ul li {
	 margin-bottom:2%;
	}
	.big_list ul li:nth-child(n+3){
	  display:none;
	}
   .smail_list ul li:nth-child(n+4){
	  display:none;
	}
	.main_column2{
	 margin-top:0%;
	}
	.big_list ul li{
	 width:50%;
	}
	.smail_list ul li {
	 width:33.3%;
	}
	.smail_list ul li img {
    width: 97%;
    }
	.top_cart{
		padding-right:0;
		}
#m_nemu ul {
	margin-top:48px;
	}		
#m_nemu ul li a{
	height:30px;
	text-decoration:none;
	color:#E8519B
	}
#m_nemu ul li{
	height:40px;
	margin-left:15px;
	color:#E8519B;	
	font-size:1.6em;
	font-weight:bold
	}
/*#m_nemu .m_menu1 a{	
	background:url(../images/m_menu.png) 0 0 no-repeat;
	}
#m_nemu .m_menu1 a:hover,#m_nemu .m_menu1 .current{
	background:url(../images/m_menu.png) -133px 0 no-repeat;
	}
#m_nemu .m_menu2 a{	
	background:url(../images/m_menu.png) 0 -37px no-repeat;
	}
#m_nemu .m_menu2 a:hover,#m_nemu .m_menu2 .current{
	background:url(../images/m_menu.png) -133px -37px no-repeat;
	}
#m_nemu .m_menu3 a{	
	background:url(../images/m_menu.png) 0 -74px no-repeat;
	}
#m_nemu .m_menu3 a:hover,#m_nemu .m_menu3 .current{
	background:url(../images/m_menu.png) -133px -74px no-repeat;
	}
#m_nemu .m_menu4 a{	
	background:url(../images/m_menu.png) 0 -110px no-repeat;
	}
#m_nemu .m_menu4 a:hover,#m_nemu .m_menu4 .current{
	background:url(../images/m_menu.png) -133px -110px no-repeat;
	}
#m_nemu .m_menu5 a{	
	background:url(../images/m_menu.png) 0 -146px no-repeat;
	}
#m_nemu .m_menu5 a:hover,#m_nemu .m_menu5 .current{
	background:url(../images/m_menu.png) -133px -146px no-repeat;
	}
#m_nemu .m_menu6 a{	
	background:url(../images/m_menu.png) 0 -184px no-repeat;
	}
#m_nemu .m_menu6 a:hover,#m_nemu .m_menu6 .current{
	background:url(../images/m_menu.png) -133px -184px no-repeat;
	}
#m_nemu .m_menu7 a{	
	background:url(../images/m_menu.png) 0 -220px no-repeat;
	}
#m_nemu .m_menu7 a:hover,#m_nemu .m_menu7 .current{
	background:url(../images/m_menu.png) -133px -220px no-repeat;
	}
#m_nemu .m_menu8 a{	
	background:url(../images/m_menu.png) 0 -257px no-repeat;
	}
#m_nemu .m_menu8 a:hover,#m_nemu .m_menu8 .current{
	background:url(../images/m_menu.png) -133px -257px no-repeat;
	}
#m_nemu .m_menu9 a{	
	background:url(../images/m_menu.png) 0 -294px no-repeat;
	}
#m_nemu .m_menu9 a:hover,#m_nemu .m_menu9 .current{
	background:url(../images/m_menu.png) -133px -294px no-repeat;
	}*/
	#member_menu dl .selected a{
	color:#023B8C;
	border-bottom:2px solid #023B8C
	}
	
#column_left{ display:none}	

#member_menu dl dt{
	display:none
	}
#member_menu{
	background: none;
	
	}
#column_right{
	width:100%;
	
	}
#column_right .smail_p li{
	width:49%;
	text-align:center
	}
#column_right .smail_p li img{
	max-width:98%;
	}
#column_right .prd_name{
	text-align:center
	}
#column_right .smail_p .price {
text-align: center;
}
.right_search{
	display:block;
	border:1px solid #939598;
	font-size:2.8em;	
	width:90%;
	margin:0 auto;
	margin:2%;

	line-height:66px;
	padding:1%;
	border-radius:10px;
	font-weight:normal

}
#search-news{
	width:90%;
	font-size:1.8em;
	padding:10px;
	margin:0 auto;
	
	}
#m_store_logo{
	display:block;
	margin:0 auto;
	width:95%;
	font-size:2.8em;
	margin-bottom:5%;
	height:auto;
	}
#m_store_logo img{
	max-width:95%
	
	}
#column_right .big_p li{
	float:left;
	margin-left:2%;
	margin-bottom:35px;	
	width:45%;
	text-align:center
	}
#column_right .big_p li img{
	max-width:98%;
	
	}
#column_right .big_p .price ,#column_right .smail_p .price{
	text-align:center
	}
#m_category_menu {
	display: block;
	}
#smbar{
 overflow:hidden;
 position:relative;
 top:0;
 left:0;
}
#smbar ul{
 display:inline-block;
 width:86%;
 white-space:nowrap;
 overflow-x:auto;
 overflow-y:hidden;
 float:left;
}
.more{
	float:left;
	margin-left:1%;
	padding-top:1%
}
#m_category_menu{
	background:#FFCBD5;
	margin-bottom:3%; 
	}
#m_category_menu ul li{
	/*float:left;*/
	text-align:center;
	font-size:1.3em;
	padding:3%;
	display:inline-block;
	}
#member_menu dl{
 display:inline-block;
 width:100%;
 white-space:nowrap;
 overflow-x:auto;
 overflow-y:hidden;
}
#member_menu dl dd{
 float:none;
 display:inline-block;
}
#m_category_menu ul li a{
	text-decoration:none;
	color:#E8519B;
	}
#m_category_menu ul .selected{
	border-bottom:4px solid #E8519B;
	color:#E8519B	
	}
#m_category_menu ul .selected a{
	color:#E8519B	
	}

#m_category_menu ul .more a{
	background:#E8519B;
	color:#fff;
	}
#bought_right{
	display:none	
	}
#bought_left{
	width:100%;
	}

#column_right .gold_title{
	display:block;
	padding:3%;
	width:90%;
	border:1px solid #939598;
	margin-bottom:3%;
	}
#column_right .gold_title dt{
	float:left;
	width:63%;
	font-size:2.4em;
	}
#column_right .gold_title dd{
	float:right;
	font-size:3.6em;
	color:#F20017;
	text-align:right;
	width:32%;
	}
#column_right .gold_btn{
	width:95%;
	display: block;
	text-align:center;
	margin-bottom:3%;
	padding-bottom:3%;
	border-bottom:1px solid #58595B
	}
#site_login,#site_reg{
	width:100%;
	margin:0 auto;
	}
.login_bg{
	background:#F1F3F2;
	}
.bought_right{
	display:none;
	}
.bought_left{
	width:100%;
	}
.bought_table1{
	width:98%;
	margin: auto;
	}

.product_date dd{
	width:100%;
	margin-top:3%
	}
.product_info .txt img{
	max-width:98%;
	}
.bought_table1 .tb_title dd{
	display:none
	}
.favor_pic,.favorite{
	display:none
	}
.product_info .product_date dt{
	width:100%;
	float: none;
	text-align:center
	}
#member_menu dl dd {
 width:105px;
}
.product_info .descript_txt{
	display:none
	}
.product_info .storename{
	display:block;
	}
.product_info .storename{
	display:block;
	}
.descript .dsc_mtitle{
	display:block
	}
.product_info .descript .hide_title{
	display:none
	}
.product_info .descript_txt{
	display:none
}
.product_info .product_notice{
	display:none
	}
.product_info{
	margin:auto;
	margin:0 2%;
	padding-bottom:40px;
	}
.product_info dd {
	margin-left:0
	}
.bought_table1 .bought_list .unitprice{
	display: block;
	}
.bought_table1 .bought_list .refund{
	display:block;
	}
.bought_table1 .bought_list .w_price{
	display: none;
	}
.bought_table1 .bought_list .w_re{
	display:none;
	}
.m_logo{
	float: left;
	margin-right:2%;
	}
#m_store_logo p {
	padding-top:5%	
	}


}
@media screen and (max-width: 520px), screen and (max-device-width: 520px) {

#top_left{
  font-size:120%;
 }
   .wrap-mame {
   padding:6% 0 0 0%;
   }
  .search-keywords{
   height:30px;
  }

 #m_store_logo{
	font-size:2em;
 }
#m_store_logo img{
	max-width:50%
	
	}
}
@media screen and (max-width: 480px), screen and (max-device-width: 480px) {

#top_left{
  font-size:100%;
 }

  #m_store_logo{
	font-size:1.8em;
 }
#search-news{
	width:90%;
	font-size:1.6em;
	padding:10px;
	margin:0 auto;
	
	}
	 .top_login {
padding-top: 12%;

}
#m_store_logo img{
	max-width:45%
	
	}
}
@media screen and (max-width: 380px), screen and (max-device-width: 380px) {
#top_left{
  font-size:80%;
 }
  .search-keywords{
   height:30px;
   
  }
  .search_btn{
  height:35px;
   background-size:90% auto;
  }
#m_store_logo img{
	max-width:35%
	
	}