@charset "utf-8";
/* CSS Document */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{
	clear:both;
	font-size: 0px;
	line-height: 0em;
}
.f1{
	float:left;
}
.fr{
	float:right;
}
.fw{
	font-weight:bold;
}
#wrapper .end{
	margin-right:0;
	}
#wrapper .bend{
	margin-bottom:0;
	}
html {
font-size: 62.5%;
}	
body{
	background:#fff;
	color:#FFCBD5;
	font-family:"plutocond_regular","微軟正黑體", "Microsoft JhengHei","儷黑 Pro";
	
	}
/* ---------------------------------------------------- 架構 ---------------------------------------------------- */
#wrap-menu,#wrap-news,#top_right{
	 display:block;
}
#m_nemu{
	display:none
	}

.m_sub,.m_login,#m_nemu{
	 display:none;
}
	.search_btn{
	 background:url(../images/search_btn.jpg) no-repeat;
	 background-size:100% auto;
	 width:31%;
	 max-width:96px;
	 height:35px;
	 border:none;
	 text-indent:-500px;
	 float: left;
	}
#header {
max-width: 940px;
min-width: 768px;
margin: 0 auto;
padding-top: 10px;
/*font-family: Arial, Helvetica, sans-serif;*/
}
.gray{
	background:#FFCBD5
}
.white{
	background:#ffffff;
}
#gray_wrap{
	background:#FFCBD5
}
#white_wrap{
	background:#ffffff;
}
#wrap{
	width:100%;
	}
#wrapper{	
	max-width:940px;/*ed*/
	min-width:768px;/*ed*/
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	
	}
#container{
	width:100%;
	margin:0 auto;
	}
#top{
	height:72px;
	margin:0 auto;
	padding-bottom:10px
	}

#top_left{
	float:left;
	width:182px;/*ed*/
	}

.wrap-logo{
	float:left;	
	}
.wrap-mame {
	font-size:1.6em;
	color:#858585;
	padding-top:33px;
	float:left;
	font-weight:bold
	}
.wrap-mame a{
	text-decoration: none;
	color:#858585;
	}
.top-search{
	float:left;	
	margin-top:3%;
	width:42%;/*ed*/
	margin-left:1%;
	}
.search-keywords{
	border: none;
	background: none;
	width:64%;/*ed*/
	color:#FFCBD5;
	float:left;
	line-height:20px;
	height:28px;
	border:1px #818181 solid;
	font-size:1.6em;
	margin-right:2%
	}
#top_right{
	float:right;
	width:30%;
	padding-top:13px;
	}
.top_login{
	font-size:1.6em;
	color:#858585;
	padding-top:20px;
	float:right;
	font-weight:bold
	}	
.top_login a{
	text-decoration:none;
	color:#414042;
	}
.top_cart{
	float:right;
	color:#FFCBD5;
	width:115px;
	height:43px;
	margin-left:10%;
	padding-left:13px;
	padding-top:8px;	
	background:url(../images/cart_bg.jpg) no-repeat;
	position:relative;
	cursor:pointer;
	}	
	
	
	
.car_icon{
	float:left;	
	}
.car_date{
	float:left;
	margin-left:15px;
	}	

.car_date h3{
	font-size:1.6em;
	font-weight:normal
	}
.car_date h4{
	margin-top:5px;
	font-size:1.4em;
	font-weight:normal
	}
.top_cart_list{
	position:absolute;
	width:220px;
	border:1px solid #D3D3D3;
	left:-100px;
	/*top:55px;*/
	top:52px;
	background:#F1F3F2;
	border-radius:10px;
	padding-bottom:10px;
	}
.top_cart_list ul {
	list-style: none;
	list-style-type:none;
	padding:7px;
	}
.top_cart_list ul li{
	margin-bottom:11px;	
	}
.top_cart_list .cart_img{
	float:left
	}
.top_cart_list .cart_product{
	float:left;
	margin-left:10px;
	width:135px;
	font-size:1.4em;
	line-height:17px;
	}
.top_cart_list .pd_name a{
	color:#1C75BC;
	text-decoration:none
	}
.top_cart_list .cart_price{
	color:#009444
	}
.top_cart_list .cart_del a{
	text-decoration:none;
	color:#414042	
	}
.top_cart_list .topcart_pcs{
	border-top:1px solid #BCBEC0;
	text-align:center;
	padding-top:10px;
	font-size:1.4em;
	}
#wrap-menu{
	margin-top:2%;
	border-top:1px dashed #929292;
	border-bottom:1px dashed #929292;
	padding-top:14px;
	padding-left:1%;
	}
#wrap-menu ul li{
	float:left;
	text-align:left;
	font-size:1.6em;
	height:20px;
	line-height:22px;
	font-weight:bold;
	color:#023B8C;
	padding-left:10px;
	width:auto;
	margin-right:25px;
	margin-bottom:14px;
	font-weight:bold
	}
#wrap-menu ul li a{
	text-decoration:none;
	color:#023B8C
}
#wrap-menu li a:hover,#wrap-menu li .current{
	color:#0460E3
}
/*#wrap-menu .menu1{
	width:9%;
	}
#wrap-menu .menu1 a{	
	background:url(../images/menu.png) 0 0 no-repeat;
	}
#wrap-menu .menu1 a:hover,#wrap-menu .menu1 .current{
	background:url(../images/menu.png) 0 -27px no-repeat;
	}
#wrap-menu .menu2{
	width:13%;
	}
#wrap-menu .menu2 a{    
	display:block;
	background:url(../images/menu.png) -90px 0 no-repeat;
	}
#wrap-menu .menu2 a:hover,#wrap-menu .menu2 .current{
	background:url(../images/menu.png) -90px -27px no-repeat;
	}
#wrap-menu .menu3{
	width:10%;
	}
#wrap-menu .menu3 a{  
	background:url(../images/menu.png) -216px 0px no-repeat;
	}
#wrap-menu .menu3 a:hover,#wrap-menu .menu3 .current{
	background:url(../images/menu.png) -216px -27px no-repeat;
	}
#wrap-menu .menu4{
	width:13.7%;
	}	
#wrap-menu .menu4{    
	background:url(../images/menu.png) -310px 0px no-repeat;
	}
#wrap-menu .menu4 a:hover,#wrap-menu .menu4 .current{
	background:url(../images/menu.png) -310px -27px no-repeat;
	}	
#wrap-menu .menu5{
	width:9%;
	}
#wrap-menu .menu5{    
	background:url(../images/menu.png) -438px 0px no-repeat;
	}
#wrap-menu .menu5 a:hover,#wrap-menu .menu5 .current{
	background:url(../images/menu.png) -438px -27px no-repeat;
	}
#wrap-menu .menu6{
	width:9%;
	}
#wrap-menu .menu6{    
	background:url(../images/menu.png) -525px 0px no-repeat;
	}
#wrap-menu .menu6 a:hover,#wrap-menu .menu6 .current{
	background:url(../images/menu.png) -525px -27px no-repeat;
	}
#wrap-menu .menu7{
	 width:14%;
	}
#wrap-menu .menu7{   
	background:url(../images/menu.png) -609px 0px no-repeat;
	}
#wrap-menu .menu7 a:hover,#wrap-menu .menu7 .current{
	background:url(../images/menu.png) -609px -27px no-repeat;
	}
#wrap-menu .menu8{
	width:10%;
	}
#wrap-menu .menu8{    
	background:url(../images/menu.png) -745px 0px no-repeat;
	}
#wrap-menu .menu8 a:hover,#wrap-menu .menu8 .current{
	background:url(../images/menu.png) -745px -27px no-repeat;
	}
#wrap-menu .menu9{
	width:76px;
	}
#wrap-menu .menu9{   
	background:url(../images/menu.png) -844px 0px no-repeat;
	}
#wrap-menu .menu9 a:hover,#wrap-menu .menu9 .current{
	background:url(../images/menu.png) -844px -27px no-repeat;
	}*/


#wrap-news{
	margin-top:15px;	
	background:#FFCBD5;
	height:32px;
	line-height:32px;
	padding-left:10px;
	font-size:1.6em;
	font-weight:bold
	}
#search-news{
	margin-top:20px;	
	background:#FFCBD5;
	padding:12px;
	font-size:1.4em;
	}	
	
#wrap-news a{
	color:#FFCBD5;
	text-decoration:none
	}
#wrap-main{
	margin-top:15px;
	min-height:380px;
	}
.main_column1{
	
	}

#banner{
	float:left;
	width:75%;
	overflow:hidden;
	position:relative;
	}
#banner .prev{
	position:absolute;
	left:2%;
	top:40%;
	z-index:11;
	cursor:pointer;
	}
#banner .next{
	position:absolute;
	right:2%;
	top:40%;
	z-index:11;
	cursor:pointer;
	}
.banner-circle{ 
	position:absolute; 
	left:45%; 
	bottom: 20px;
	height:30px;
	text-align: center;
	font-size: 0;
	z-index:10;
}
.banner-circle li{ 
	border-radius: 20px; 
	margin:5px; 
	display:inline-block;
	display:-moz-inline-stack; 
	vertical-align: middle;
	zoom: 1;
	float:left 
}
.banner-circle li a{ 
	display: block;
	padding-top: 9px;
	width: 12px;
	height:4px;
	border-radius:50%;
	overflow: hidden;
	border:1px solid #fff
}
.banner-circle .selected a{ 
	background:#fff; 
}
#banner_small{
	float:right;
	width:23%;
	
	}
#banner_small ul li{
	width:100%;
	margin-bottom:4px;
	}
#banner_small ul li a{
 display:block;
}
#banner_small ul li img{
  width:100%;
  height:auto;
}
#slideshow_ul{
 /*display:inline-table;*/
 width:9999px;
 position:relative;
}
#slideshow_ul li{
  float:left;
	}
#slideshow_ul li img{
 max-width:100%;
 height:auto;
}
.main_column2{
	margin-top:25px;	
	}
.big_list ul li{
	float:left;
	width:33.3%;
	vertical-align: top;
	margin: 0 0 40px 0;
	overflow: hidden;
	text-align: center;
	}
.big_list ul li img{
 width:98%;
 height:auto;
}
.big_list p{
	text-align:left;
	font-size:1.4em;
	padding-left:1%;
	margin-top:7px;
	width:95%;
	color:#0C427E;
	overflow:hidden;
	}
.big_list p a{
	text-decoration:none;
	color:#0C427E;
	}
.big_list h3{
	text-align:left;
	font-size:1.8em;
	padding-left:1%;
	margin-top:7px;
	font-weight:normal;
	color:#E93E62;
	}
.smail_list ul li{
	float:left;
	width:25%;
	vertical-align: top;
	margin: 0 0 40px 0;
	overflow: hidden;
	text-align: center;
	}
.smail_list ul li img{
 width:98%;
 height:auto;
}
.smail_list p{
	text-align:left;
	font-size:1.4em;
	padding-left:1%;
	margin-top:7px;
	width:92%;
	overflow:hidden;
	color:#0C427E
	}
.smail_list p a{
	text-decoration:none;
	color:#0C427E;
	}
.smail_list h3{
	text-align:left;
	font-size:1.8em;
	padding-left:1%;
	margin-top:7px;
	font-weight:normal;
	color:#E93E62;
	}
#footer{	
	padding-bottom:48px;
	padding-top:48px;
	text-align:center;
	font-size:1.4em;
	line-height:24px;
	}
#footer a{
	color:#FFCBD5;
	text-decoration:none
	}
.merchants{
	padding-top:10px;
	padding-bottom:230px;
	
	}
.merchants_dsc{
	float:left;
	width:70%;
	}
.merchants_dsc .merchants_t1{
	font-weight: normal;
	font-size:2.1em;
	border-bottom:1px solid #939393;
	padding-bottom:20px;
	}
.merchants_dsc .merchants_t2{
	font-weight: normal;
	font-size:1.4em;
	margin-top:30px;
	line-height:18px;
	}
.merchants_right{
	float:right;
	width:27%;
	height:251px;
	padding-top:42px;
	color:#F30129;
	font-size:1.7em;
	line-height:27px;
	text-align:center;
	font-weight:normal;
	background:url(../images/mbg.jpg) no-repeat;
	}
#column_left{
	float:left;
	width:24%;
	}
#column_left .category_list{
 padding:5% 0 0 5%;
}
#column_left .category_list li{
	font-size:1.5em;
	margin-top:16px;	
	}
#column_left .category_list li a{
	color:#FFCBD5;
	text-decoration:none;
}
#column_left .category_list h3{
	font-size:2.1em;
	font-weight: normal;
	border-bottom:1px solid #FFCBD5;
	padding-bottom:10px;
	font-weight:bold
	
	}
#column_left .category_list .selected a{
	color:#023B8C
	}
#column_right{
	float:left;
	width:76%;
	padding-top:2%;
		}
#column_right .smail_p li{
	float:left;
	margin-bottom:35px;
	width:33%;
	text-align:center;
	}
.smail_pro{
	float:left;
	margin-bottom:35px;
	width:33%;
	text-align:center;
	}
#column_right .smail_p li img{
	max-width:95%;
	height:auto
	}
#column_right .prd_name{
	text-align:left;
	font-size:1.4em;
	padding-left:1%;
	margin-top:7px;
	width:90%;
	color:#0C427E;
	overflow:hidden;
	text-align: left;
	min-height:30px;
	max-height:30px;
	overflow:hidden;
	}
#column_right .prd_name a{
	text-decoration:none;
	color:#023B8C;
	}
#column_right .big_p .price ,#column_right .smail_p .price{
	text-align:left;
	font-size:1.8em;
	padding-left:1%;
	margin-top:7px;
	font-weight:normal;
	color:#E93E62;
	}
#column_right .big_p li{
	float:left;
	margin-left:2%;
	width:48%;
	margin-bottom:35px;	
	}
#column_right .big_p li img{
	width:98%;
	height:auto;
}
.store_logo{
	width:100%;
	text-align:center	
	}
.store_logo img{
	padding-bottom:2%;
	padding-top:2%;
	}
.store_name{
	font-size:1.5em;
	margin: auto;
	margin-top:12px;
	width:98%;
	text-align: left;
	font-weight:bold	
	}
.store_name img{
	max-width:99%;
	
	}

.store_hot{
	margin-top:35px;
	}	
.store_hot h3{
	font-weight: bold;
	font-size:1.5em;
	padding-bottom:8px;
	border-bottom:1px solid #FFCBD5;
	}
.store_hot dl{
	margin-top:8px
	}
.store_hot dl dt{
	width:38%;
	float:left
	}
.store_hot dl dd{
	width:58%;
	float:right;
	font-size:1.4em;
	line-height:15px
	}
.store_hot dl dt img{
	max-width:99%
	}
.store_hot dl dd a{
	color:#023B8C;
	text-decoration:none
	}
.store_hot dl dd .price{
	color:#E93E62;
	font-size:1.5em;
	margin-top:7px;
	}
.product_info{
	margin-left:16px;
	padding-bottom:40px;	
	}
.product_info .product_date dt{
	width:53%;
	float:left;
	}
.product_info .product_date dt img{
	max-width:99%;
	}
.product_info dd{
	width:44%;
	float:left;
	margin-left:3%
	}
.product_info .product_date .product_name{
	font-size:2.4em;
	padding-bottom:7px;
	border-bottom:1px solid #FFCBD5;
	color:#000

	}
.product_info .product_price{
	font-size:2.4em;
	color:#F20017;
	margin-top:18px;
	}
.product_info .product_pcs{
	color:#000;
	font-size:1.8em;
	margin-top:18px;
	}
.product_info .product_pcs .pcs{
	border:1px solid #FFCBD5;
	width:17%;
	color:#000;
	border-radius:5px;
	text-align:center;
	height:34px;
	font-weight:normal;
	font-size:1.4em;
	}
.product_info  .btn{
	margin-top:22px;
	margin-bottom:17px;
	border-bottom:1px solid #FFCBD5;
	}
.product_info  .btn img{
	padding-top:2%;
	}

.product_info .descript .title{
	background:#FFCBD5;
	height:33px;
	line-height:33px;
	padding-left:2%;
	font-size:1.5em;
	width:98%;
	margin-top:17px;
	font-weight:bold
	}
.product_info .descript_txt{
	margin-top:12px;
	font-size:1.5em;
	line-height:16px;
	}
.product_info .product_txt{
	margin-top:12px;
	font-size:1.5em;
	line-height:16px;
	}
.product_info .t40px{
	margin-top:40px;
	}
.product_info .l2px{
	padding-left:2%
	}
.product_info .product_notice dl{
	margin-top:24px;

	}
.product_info .product_notice dt{
	float:left;
	width:10%;
	height:auto;
	padding-top:1%
	}
.product_info .product_notice dd{
	float:left;
	width:85%;
	line-height:17px;
	}
.product_info .item{
	font-size:1.5em;
	font-weight: bold;
	color:#000;
	padding-bottom:12px;
	}
.product_info .product_notice p{
	font-size:1.4em
	}
#member_menu{
	border:1px solid #DBDBDB;
	color:#FFCBD5;
	background:#fff;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	}
#member_menu dl dt{
	float:left;
	line-height:20px;
	border-right:1px solid #DBDBDB;
		}
		
#member_menu .email{
	width:18%;
	padding-left:1%;	
	font-size:1.6em;
	color:#231F20;
	padding-top:0.5%
	}
#member_menu .email span{
	color:#58595B;
	font-size:14px
	}
#member_menu dl dd{
	float:left;
	vertical-align:middle;
	line-height:48px;
	text-align:center;
	font-size:1.5em;
	width:12%;
	text-align:center;

	}
#member_menu dl dd a{
	color:#FFCBD5;	
	text-decoration:none;
	}
#member_menu dl .selected a{
	color:#023B8C
	}
#bought_left{
	width:69%;
	float:left
	}
#bought_right {
	float:right;
	width:29%;
	}
#bought_right img{
width:100%;
max-width:100%;
}
#bought_right .pay_type{

	font-size:1.4em;
	line-height:16px;
	}
.bought_table1{
	border:1px solid #BDBDBD;
	width:100%;
    margin-bottom:20px;
	background:#fff
	}
.pay2{
	margin-top:50px;
	}
#bought_right h3 ,#bought_right h3{
	margin-bottom:12px;
	margin-top:12px;
	}
.bought_table1 .tb_title{
	background:#023B8C;
	height:29px;
	line-height:29px;
	color:#fff;
	font-size:1.4em;
	padding-left:2%;
	padding-right:2%
	}
.bought_table1 .tb_title dt{
	float:left;
	margin-right:3%;
	}
	.bought_table1 .tb_title dd{
	float:right;
	}

.bought_table1 .tb_title a{
	text-decoration:none;	
	color:#fff;
	display:block;
}
.bought_table1 ul li{
	float:left;
	font-size:1.4em;
	line-height:20px;
	padding-left:2%
	}

.bought_table1 .bought_list{
	padding-top:13px;
	padding-bottom:13px;
	border-bottom:1px dashed #BDBDBD;
	}
.bought_table1 .bought_list li{
	float:left;
	font-size:1.4em;
	color:#414042;

	}
.bought_table1 .bought_list li a{
	color:#414042;
	text-decoration:none
	}
.bought_table1 .bought_list .bought_pic{
	width:15%;
	text-align: center;
	margin-right:1%;
	}
.bought_table1 .bought_list .bought_pic img{
	max-width:98%;
	min-width:70%
	}	
.bought_table1 .bought_list .bought_name{
	width:55%;
	margin-right:1%;
	}
.bought_table1 .bought_list .return {
	float:right;
	width:20%;
	text-align:center;	
	}
.bought_table1 .bought_list .return  a{
	color:#023B8C;
	text-decoration:none
	}
.bought_table1 .bought_list .refund  a{
	color:#023B8C;
	text-decoration:none
	}
	
.bought_table1 .bought_list .unitprice{
	text-align:left
	}
.bought_table1 .bought_list .unitprice{
	display:none;
	}
.bought_table1 .bought_list .refund{
	display:none;
	}
.bought_table1 .no{
	border-bottom:none
	}
.bought_table1 .process {
	border-top:1px solid #BDBDBD;
	padding-top:13px;
	padding-bottom:13px;
	}
.bought_table1 .process li{
	float:left;
	font-size:1.4em;
	line-height:18px;
	text-align:center;
	width:12%;
	}
.bought_table1 .product_name{
	width:54%
	}
.bought_table1 .process .logistics{
	margin-left:2%
	}
.bought_table1 .process .not{
	color:#A7A9AC
	}
.bought_table1 .process .cost{
	float:right;
	color:#F20017;
	font-size:1.8em;
	line-height:30px;
	text-align: left;
	width:12%;
	}
.bought_table1 .process a{
	text-decoration: none;
	color:#023B8C
	}
	
.bought_table1 .process .selected{
	color:#F20017		
	}
.bought_table1 .bought_list .move{
	margin-top:12%
	}
.bought_table1 .bought_list .del a{
	color:#F20017;
	text-decoration:none
	}
.bought_table1 .bought_list .favorite a{
	color:#023B8C;
	text-decoration:none
	}
.bought_table1 .cart_unit{
	float:right;
	width:24%;
	text-align:center;
	} 
.bought_table1 .cart_pcs{
	border:1px solid #FFCBD5;
	width:20%;
	color:#000;
	border-radius:5px;
	text-align:center;
	height:24px;
	font-weight:normal;
	font-size:1.4em;
	}
.bought_table1 .carry{
	padding-top:13px;
	padding-bottom:13px;
	border-bottom:1px solid #BDBDBD;	
	}
.bought_table1 .carry .cost{
	float:right;
	font-size:1.8em;
	line-height:30px;
	text-align: left;
	/*width:12%;*/
	width:20%;
	}
.bought_table1 .carry_t{
	position:relative;
	width:120px;
	}
.bought_table1 .carry_list{
	position:absolute;
	left:140px;
	top:0;
	width:105px;
	padding:15px;
	line-height:22px;
	border:1px solid #BDBDBD;
	background:#F1F3F2;
	border-radius:5px;
	display:none;
	}
.bought_table1 .carry_list a{
	color:#414042;
	text-decoration:none
	}	

.bought_table1 .check {
	padding-top:13px;
	padding-bottom:13px;
	}
.bought_table1 .check  .cost{
	float:right;
	font-size:1.8em;
	line-height:30px;
	text-align: right;
	width:30%;
	color:#F20017;
	padding-right:3%;
	}
.gold{
	width:95%;
	margin:auto
	}
.gold ul {
	margin-bottom:18px;
	}
.gold ul li{
	float:left;
	font-size:1.4em
	}
.gold .grid1{
	width:25%;
	}
.gold .grid2{
	width:60%;
	}
.gold .grid3{
	width:13%;
	}
.gold .tbhead{
	color:#231F20
	}
.gold_mum{
	font-size:1.8em;
	color:#ED1C24
	}
.reference{
	padding:3%;
	font-size:1.4em;
	line-height:28px;
	}
.re_box{
	border:1px solid #414042;
	width:50%;
	height:28px;
	line-height:28px;
	}
.re_btn{
	text-align:center;
	margin-top:44px;
	}
.pay_carry{
	font-size:1.4em;
	padding:3%;
	line-height:17px;
	}
.pay_checked{
	font-size:1.4em;
	padding:3%;
	line-height:30px;
	}
.pay_btn{
	text-align:center;
	margin-top:40px;
	}
.pay_table{
	border:1px solid #BDBDBD;
	background:#fff
	}		
.pay_table .tab_title{
	background:#023B8C;
	height:29px;
	line-height:29px;
	color:#fff;
	font-size:1.4em;
	padding-left:2%;
	}
.pay_table .sum{
	padding-top:3%;
	padding-bottom:3%;
	border-bottom:1px dashed #BDBDBD;
	}
.pay_table .sum dt{
	float:left;
	width:38%;
	text-align:center;
	}
.pay_table .sum dd{
	float:left;
	width:58%;
	font-size:1.4em;
	line-height:22px;
	}
.pay_table .sum dd a{
	color:#414042;
	text-decoration:none
	}
.pay_table .type{
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #BDBDBD;
	}
.pay_table .type dd{
	float:right;
	font-size:1.4em;
	line-height:22px;
	text-align:right;
	padding-right:3%
	}
.pay_table .type dt{
	float:left;
	font-size:1.4em;
	line-height:22px;
	padding-left:3%
	}
.pay_table .total{
	text-align:right;
	padding-right:3%;
	padding-top:15px;
	padding-bottom:15px;
	font-size:1.8em
	} 
.pay_table .total span{
	color:#F20017
	}
.add_tab{
	width:92%;
	border:1px solid #58595B;
	margin-left:3%;
	padding:2%;
	margin-top:8px;
	margin-bottom:30px;
	color:#231F20
	}
.add_tab span{
	color:#ED1C24
	}
.add_tab p{
	color:#6D6E71;
	line-height:20px
	}
.address{
	margin-bottom:32px;
	}
.address .add_name{
	width:35%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.address .add_tel{
	width:38%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.address .add_email{
	width:45%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.address .add_code{
	width:20%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.address .add_address{
	width:78%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.add_btn{
	text-align:center;
	margin-top:60px;
	}
.member_talble{
	width:100%;
	border:1px solid #414042;
	background:#fff;
		margin-bottom:45px;
	}
.member_talble .tab_header{
	background:#023B8C;
	height:29px;
	line-height:29px;
	color:#fff;
	font-size:1.4em;
	padding-left:2%;
	}
	
.member_modify{
	padding:2%;
	margin-top:8px;
	margin-bottom:30px;
	color:#231F20;
	font-size:1.4em;
	}
.member_modify span{
	color:#ED1C24
	}
	
.member_modify p{
	color:#6D6E71;
	line-height:20px
	}
.member_date{
	margin-bottom:32px;

	}
.member_modify .member_name{
	width:20%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
/*bill*/
.member_modify input{
	padding : 0 2px 0 3px;
}
/*bill*/
.member_modify .member_email{
	width:30%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.member_modify .member_tel{
	width:20%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}

.member_modify .member_address{
	width:49%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	}
.pass{
	border-top:1px solid #58595B;
	padding-top:18px;
	}
.pass_change{
	width:90%;
	margin-left:2%;
	padding:2%;
	margin-top:17px;
	border:1px solid #58595B;
	}
.pass_change .pass_box{
	width:25%;
	border:1px solid #414042;
	height:28px;
	line-height:28px;
	
	}
.pass_change .b12{
	margin-bottom:12px;
	}
.pass_btn{
	text-align:center;
	margin-top:50px;
	}
#site_login{
	max-width:480px;
	min-width:320px;
	background:#F1F3F2;
	padding-top:25px;
	padding-bottom:55px;
	}
#site_reg{
	max-width:480px;
	min-width:320px;
	background:#F1F3F2;
	padding-top:25px;
	padding-bottom:55px;
	}
	
.login_form{
	width:300px;
	margin:0 auto;
	margin-top:25px;
	font-family:"plutocond_regular","微軟正黑體", "Microsoft JhengHei"
	}
.login_logo{
	text-align:center;
	}
#site_login .login_fb{
	text-align:center;
	padding-bottom:27px;
	margin-top:27px;
	border-bottom:1px solid #808285;
	}
.login_acc{
	margin-top:22px;
	text-align:center;
	color:#58595B;
	font-size:1.6em;
	font-weight:bold;
	
	}

.input-userName{
	background:url(../images/username.png) no-repeat;
	height:37px;
	line-height:37px;
	border: 1px solid #808285;
	padding-left:33px;
	color:#939598;
	width:266px;
	border-radius:5px;
	font-size:1.6em;
	}
.input-password{
	background:url(../images/pass.png) no-repeat;
	height:37px;
	line-height:37px;
	border: 1px solid #808285;
	padding-left:33px;
	color:#939598;
	width:266px;
	border-radius:5px;
	font-size:1.6em;
	margin-top:14px;	
	}
.input-button{
	margin-top:15px;
	text-align:center
	}
.pass-reglink {
	margin-top:17px;
	font-size:1.6em;
	font-weight:bold;
	}
.pass-reglink dt{
	float:left;
	}
.pass-reglink dt a{
	color:#58595B;
	text-decoration:none
	}
.pass-reglink dd{
	float:right;
	font-weight:bold;
	}
.pass-reglink dd a{
	color:#023B8C;
	text-decoration:none
	}
.input-email{
	background:url(../images/email.png) no-repeat;
	height:37px;
	line-height:37px;
	border: 1px solid #808285;
	padding-left:33px;
	color:#939598;
	width:266px;
	border-radius:5px;
	font-size:1.6em;
	margin-top:14px;
	}
.reg_txt{
	font-size:1.6em;
	color:#808285;
	margin-top:17px;
	line-height:18px;
	font-weight:bold;	
	}
.tologin{
	text-align:center;
	margin-top:17px;
	font-size:1.6em;
	font-weight:bold;
	}
.tologin a{
	text-decoration:none;
	color:#023B8C
	}
.right_search{
	display:none
}

#m_store_logo{
	display:none;

	}
#m_category_menu {
	display:none;
	}
.gold_title,.gold_btn{
	display:none
	}
.descript .moretitle{
	float:left;
	}
.descript .spread{
	float: right;
}
.descript .spreadimg{
	float: right;
	padding-right:2%;
	padding-top:1.5%;
}

.product_info .storename{
	text-align:center;
	font-size:3.2em;
	padding-bottom:5%;
	padding-top:5%;
	display:none
	}
.descript .dsc_mtitle{
	display: none;
	background:#FFCBD5;
	height:33px;
	line-height:33px;
	padding-left:2%;
	font-size:1.5em;
	width:98%;
	margin-top:17px;
	font-weight:bold
	}
.store_b1{
	float:left;
	width:112px;
	height:34px;
	margin-top:5px;
	}
.store_b1 a{
	display:block;
	height:34px;
	width:108px;
	text-decoration:none;
	background:url(../images/s1.png) no-repeat
	}
.store_b1 a:hover{
	background:url(../images/s1_over.jpg) no-repeat
	}
.store_b2{
	float:left;
	width:108px;
	height:34px;
	margin:0 auto;
	margin-top:5px;
	}
.store_b2 a{
	display:block;
	height:34px;
	width:108px;
	text-decoration:none;
	background:url(../images/s2.png) no-repeat
	}
.store_b2 a:hover{
	background:url(../images/s2_over.png) no-repeat
	}
.buy_btn1{
	float:left;
	width:156px;
	height:52px;	
	}
.buy_btn1 a{
	height:34px;	
	display:block;
	text-decoration:none;
	background:url(../images/buy_b1.png) no-repeat;
	}
.buy_btn1 a:hover{
	background:url(../images/buy_b1_over.png) no-repeat;
	}
.buy_btn2{
	float:left;
	width:143px;
	height:52px;	
	}
.buy_btn2 a{
	height:34px;	
	display:block;
	text-decoration:none;
	background:url(../images/buy_b2.png) no-repeat;
	}
.buy_btn2 a:hover{
	background:url(../images/buy_b2_over.png) no-repeat;
	}
.buy_btn3{
	width:151px;
	height:34px;	
	}
.buy_btn3 a{
	height:34px;	
	display:block;
	text-decoration:none;
	background:url(../images/buy_b3.png) no-repeat;
	}
.buy_btn3 a:hover{
	background:url(../images/buy_b3_over.png) no-repeat;
	}
}

/*------------------↓表單驗證↓--------------------*/
.error {
	border: 1px solid #b94a48!important;
	background-color: #fee!important;
}
.tooltip {
	position:absolute;
	z-index:1030;
	display:block;
	visibility:visible;
	font-size:12px;
	line-height:1.4;
	opacity:0;
	filter:alpha(opacity=0);
}
.tooltip.in {
	opacity:0.8;
	filter:alpha(opacity=80);
}
.tooltip.top {
	margin-top:-3px;
	padding:5px 0;
}
.tooltip.right {
	margin-left:3px;
	padding:0 5px;
}
.tooltip.bottom {
	margin-top:3px;
	padding:5px 0;
}
.tooltip.left {
	margin-left:-3px;
	padding:0 5px;
}
.tooltip-inner {
	max-width:200px;
	padding:8px;
	color:#ffffff;
	text-align:center;
	text-decoration:none;
	background-color:#000000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
}
.tooltip.top .tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-width:5px 5px 0;
	border-top-color:#000000;
}
.tooltip.right .tooltip-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-width:5px 5px 5px 0;
	border-right-color:#000000;
}
.tooltip.left .tooltip-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-width:5px 0 5px 5px;
	border-left-color:#000000;
}
.tooltip.bottom .tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-width:0 5px 5px;
	border-bottom-color:#000000;
}
/*------------------↑表單驗證↑--------------------*/

span.fp_del_btn{
	float: right;
	padding-right: 10px;
	display: inline-block;
	cursor: pointer;
	color: #333;
	
}
span.fs_del_btn{
	float: right;
	padding-right: 10px;
	display: inline-block;
	cursor: pointer;
	color: #333;
	
}
